# macOS
.DS_Store

# Environment files
.env
.env.*

# Python
__pycache__/
*.pyc
.venv/
venv/

# Jupyter
.ipynb_checkpoints/

# IDE / Editor files
.vscode/
.idea/

# Temporary files
*.tmp
*.log

# Node
node_modules/
